<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<body>
	<div class="container my-5 col-md-10">
		<h1 class="md-5">Gestion de temas</h1>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Grupos por defecto</th>
					<th>Sprints por defecto</th>
					<th>Prefijo para grupos</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tema : ${temas}">
					<td th:text="${tema.name}"></td>
					<td th:text="${tema.description}"></td>
					<td th:text="${tema.defaultGroups}"></td>
					<td th:text="${tema.defaultSprints}"></td>
					<td th:text="${tema.groupPrefix}"></td>
					<td><a th:href="@{/tema/editar/{id}(id=${tema.id})}	"
						class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
					<td><a th:href="@{/tema/borrar/{id}(id=${tema.id})}"
						class="btn btn-primary"><i class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>
		<div class="my-5">
			<a href="/tema/adicionar" class="btn btn-primary">Adicionar</a>
		</div>
		<a href="/">Regresar a la pantalla principal</a>
	</div>
</body>
</html>