<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Gestion de historias</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5 col-md-10">
		<h1 class="md-5">Gestion de historias</h1>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>id</th>
					<th>Descripcion</th>
					<th>Valor de negocio</th>
					<th>Sprints inicial</th>
					<th>Prioridad</th>
					<th>Juego</th>
					<th>Editar</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="story : ${stories}">
					<td th:text="${story.id}"></td>
					<td th:text="${story.description}"></td>
					<td th:text="${story.businessValue}"></td>
					<td th:text="${story.initialSprint}"></td>
					<td th:text="${story.priority}"></td>
					<td><a th:href="@{/story/edit/{id}(id=${story.id})}	"
						class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
					<td><a th:href="@{/story/edit/{id}(id=${story.id})}	"
						class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
					<td><a th:href="@{/story/delete/{id}(id=${story.id})}"
						class="btn btn-primary"><i class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
			
		</table>
		<div class="my-5">
			<a href="/story/add" class="btn btn-primary">Adicionar</a>
		</div>
		<a href="/game/">Regresar a la pantalla de juegos</a>
	</div>
</body>
</html>